*__pycache__*

*aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.gz
*.idea

proposal/main.pdf
evaluation/analyses/*
experiment
two_thinning/average_based/RL/invalid_RL/hyperparameter_optimization/individual_runs

